.homepage-menu
	list-style none
	font-size 16px
	padding 0
	margin 20px 0
	li
		line-height 12px
		margin-right 23px
		display inline
		a
			color #000
			text-decoration none
			&.active
				border-bottom 2px solid #999

.homepage-cover
	width 80%
	max-width 550px

.homepage-describe
	font-size 12px
	margin 10px 0
	.italic
		font-style italic

.homepage-instagram, .homepage-contact-me
	color #000
	text-decoration none
	line-height 25px
	font-size 16px
	font-weight bold
	display inline-block
	.instagram-text
		padding-left 5px
		font-size 25px
		font-family billabong
