<!DOCTYPE html>
<html <% if(config.language) { %>lang="<%= config.language %>"<% } else { %>lang="en"<% }%>>

<%- partial('_partial/head') %>

<body>
	<img class="img" src="/img/resume.jpg" alt="resume">
	<div class="container resume">
		<h2>Liying Li: an art aficionado with business acumen</h2>
		<div class="contact">
			<p>Contact information:</p>
			<p>Phone: 917.519.8304</p>
			<p>Email: liying.li@alumni.utoronto.ca</p>
			<p>Location: New York City, USA</p>
			<p>Citizenship: Chinese</p>
		</div>
		<h3>Education</h3>
		<ul>
			<li>
				<p>Master of Arts</p>
				<p>Christie’s Education New York</p>
				<p>Concentration: Modern and Contemporary Art and the Market</p>
				<p>September 2016 - December 2017</p>
			</li>
			<li>
				<p>Bachelor of Commerce and Finance</p>
				<p>Rotman Commerce, University of Toronto, Canada</p>
				<p>Concentration: Finance</p>
				<p>September 2005 - June 2009</p>
			</li>
		</ul>
		<br>
		<div>
			<h3>Professional Experience & Accomplishments</h3>
			<div class="experience">
				<p>Christie’s New York</p>
				<p>Intern, Impressionist & Modern Art; Chinese Paintings</p>
				<p>August 2017 – Present</p>
				<br>
				<p>Auction facilitation in the renowned auction house</p>
				<ul class="column">
					<li>Provenance and literature research</li>
					<li>Seal authentication </li>
					<li>Condition reports </li>
				</ul>
				<ul class="column">
					<li>Cataloguing</li>
					<li>Collector research</li>
					<li>Viewing & sales assistance</li>
				</ul>
			</div>
			<br>
			<div class="experience">
				<p>HSBC China</p>
				<p>AVP, Operation Management; July 2013 – June 2016</p>
				<p>Management Associate; July 2011 – Jun 2013</p>
				<br>
				<p>Product & service customization for top-profile clients</p>
				<ul class="column">
					<li>Cash pool</li>
					<li>Wire transfer</li>
					<li>Regulatory reporting</li>
					<li>Workflow optimization</li>
					<li>Leadership</li>
				</ul>
				<ul class="column">
					<li>Project management</li>
					<li>Foreign exchange settlement</li>
					<li>Operational risk mitigation</li>
					<li>Performance management</li>
					<li>Across-region collaboration</li>
				</ul>
			</div>
			<br>
			<div class="experience">
				<p>Lesli Canada Corporation</p>
				<p>Marketing and Sales Representative; May 2010 – June 2011</p>
				<ul class="column">
					<li>Market research</li>
				</ul>
				<ul class="column">
					<li>Business development</li>
				</ul>
			</div>
		</div>
		<br>
		<h3>Other certificates</h3>
		<ul>
			<li>
				<p>Foundations of Business Analysis; August 2013</p>
				<p>School of Business, The George Washington University</p>
			</li>
			<li>Passed Certified Financial Analysts Level II; June 2011</li>
		</ul>
		<br>
		<h3>Language</h3>
		<ul>
			<li>Native in Chinese</li>
			<li>Fluent in English</li>
		</ul>
	</div>

</body>

</html>