<div class="article-preview">
	<a href="<%- config.root %><%- item.path %>">
		<div class="article-cover" >
			<img src="<%- item.cover ? item.cover : theme.article_cover_placeholder %>" alt="cover">
		</div>
		<p class="article-title"><%- item.title %></p>
	</a>
</div>