<div class="homepage-describe cn">
	<span>威廉·德·库宁, </span>
	<span class="italic">Grand Opening</span></span>
	<span>, 1964</span>
</div>
<a class="homepage-contact-me cn" href="mailto:artmonologue@gmail.com">联系我</a>
<a class="homepage-instagram cn" href="https://www.instagram.com/li.ying.li/"><span>或在</span><span class="instagram-text">Instagram</span><span>上关注我</span>
</a>