<div class="homepage-describe">
	<span>Willem de Kooning, </span>
	<span class="italic">Grand Opening</span></span>
	<span>, 1964</span>
</div>
<a class="homepage-contact-me" href="mailto:artmonologue@gmail.com">Contact Me</a>
<a class="homepage-instagram" href="https://www.instagram.com/li.ying.li/">
	<span> or follow me on </span>
	<span class="instagram-text">Instagram</span>
</a>